body
{
	position: relative;
	display: flex;
  justify-content: center;
	height: 100vh;
	background: radial-gradient(#f00,rgba(0,0,0,0.5));
  background: url(wall.jpg); 
  background-size: cover;
	background-blend-mode: multiply;
	animation: animateBgColor 5s linear infinite;
}
#calendarContainer{  
    position: relative;
    top: 100px;
    left: 550px;
    margin: 20px;
    min-height: 200px;
    width: 250px; 
    display: flex;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.1);
    box-shadow: 0px 25px 45px rgb(0, 0, 0, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-right: 1px solid rgb(255, 255, 255, 0.2);
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    background-size: 100%;
    justify-content: center;
    align-items: center;
}
#dycalendar{
  width: 100%;
  padding: 5px;
}
#dycalendar table{
  width: 100%;
  margin-top: 2px;
  border-spacing: 5px;
}
#dycalendar table tr:nth-child(1) td{
  background: rgb(134, 122, 122);
  color: #111;
  border-radius: 4px;
  font-weight: 600;
}
#dycalendar table tr:nth-child(2) td:focus,
#dycalendar table tr:nth-child(3) td:focus,
#dycalendar table tr:nth-child(4) td:focus,
#dycalendar table tr:nth-child(5) td:focus,
#dycalendar table tr:nth-child(6) td:focus,
#dycalendar table tr:nth-child(7) td:focus{
  color: #fff;
  background: #111;
}
#dycalendar table td{
  color: #fff;
  padding: 2px;
  cursor: pointer;
  border-radius: 4px;
}
#dycalendar table td:hover{
  background: #fff;
  color:#111 !important;
}
.dycalendar-month-container .dycalendar-today-date,
.dycalendar-month-container .dycalendar-target-date{
  background: #111;
  color:#fff !important;

}
.dycalendar-month-container .dycalendar-span-month-year{
  color: #fff;
  font-size: 1em;
  font-weight: 200;
}
#clockContainer{  
    position: relative;
    top: 100px;
    left: 600px;
    margin: 20px;
    height: 150px;
    width: 150px;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    background-color: rgb(255, 255, 255, 0.1);
    box-shadow: 0px 25px 45px rgb(0, 0, 0, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(25px);
    border-radius: 50%;
}
#hour, #minute, #second{
    position: absolute;
    background: linear-gradient(to right, rgb(191, 111, 13), rgb(217, 54, 9));
    border-radius: 10px; 
    transform-origin: bottom;
}
#hour{
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;  
}
#minute{
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;  
}
#second{
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8; 
    
}
.box{
    top: 250px;
    width: 600px;
    height: 200px;
    text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.form{
  width: 250px;
  height: 380px;
  background-image: url("car.png");
  background-size: cover;
  position: absolute;
  top: 150px;
  left: 75px;
  transform: translate(0%,-5%);
  border-radius: 10px;
  padding: 25px;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  margin-bottom: 20px;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background: transparent;
  border-radius: 25px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.76);
}
.center:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(19, 22, 27, 0.516);
  border-radius: 25px;
  z-index: -1;
}
.center h1{
  text-align: center;
  padding: 5px 0;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #dd4c09;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #f8f7f5;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
.btn{
    padding: 10px 15px;
    cursor: pointer;
    width: 110px;
    height: 40px;
    color: grey;
    background: linear-gradient(to right, #d6540a, #ffad06);
    border-radius: 15px;
    transition: 0.5s;
    border: 0;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #bd4d16;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #c76419;
  transition: .5s;
}