<!DOCTYPE html>
<html>
<head>
	<title>3d Hover Effects</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.vehicle.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.navbar.css') }}">
</head>
<body>
	<div class="wrapper">
		<nav>
		  <input type="checkbox" id="show-search">
		  <input type="checkbox" id="show-menu">
		  <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
		  <div class="content">
		  <div class="logo"><img src = "{{ url_for('static', filename='logo.png') }}logo.png"><a>FCRS</a></div>
			<ul class="links">
			  <li><a href="index.home.html">Home</a></li>
			  <li><a href="index.hist.html">Booking History</a></li>
			  <li><a href="index.manage.html">Manage Account</a></li>
			  <li><a href="index.contact.html">Contact Us</a></li>
			  <li><a href="index.faq.html">FAQ's</a></li>
			</ul>
		  </div>
		</nav>
	  </div>
	  {% for vehicle in vehicles %}
		<div class="card">
			<div class="cover">
				<img src="{{ url_for('static', filename='image.jpg') }}">
			</div>
			<div class="details">
				<div>
					<h3>{{ vehicle['vehicle_name'] }}</h3>
					<p>{{ vehicle['seats'] }} seats</p>
					<p>{{ vehicle['quantity'] }} Available</p>
					<h2>Rupees {{ vehicle['pkm'] }} per km</h2>
					<form action="/vehicle-selection" method="POST">
						<input hidden type="text" name="vehicle_id" value="{{ vehicle['vehicle_id'] }}">
						<input type="text" name="date" val="{{ booking_details['Date'] }}" hidden >
						<input type="text" name="time" val="{{ booking_details['Time'] }}" hidden >
						<input type="text" name="pickup" val="{{ booking_details['Pickup'] }}" hidden >
						<input type="text" name="drop" val="{{ booking_details['Drop'] }}" hidden >
						<input type="text" name="vehicle_name" val="{{ vehicle['vehicle_name'] }}" hidden >
						<input type="submit" value="Book Now">
					</form>
				</div>
			</div>
		</div>
	{% endfor %}
</body>
</html>